@import "../../scss/colors";

.product-tile {
  width: 100%;
  padding-top: 184%;
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.product-title {
  text-align: center;
  color: $brand-darkgray;

  &.product-title--lazy {
    width: 100%;
    border-radius: 8px;
    background-color: $brand-lightgray;
    margin-top: 10px;
  }
}

.product-price {
  text-align: center;
  color: $brand-purple;
  font-weight: 500;

  &.product-price--lazy {
    width: 30%;
    border-radius: 8px;
    background-color: $brand-lightgray;
    margin: auto;
    margin-top: 10px;
  }
}

.clamp-lines__button {
  display: none;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;

  &--lazy {
    padding-top: 150%;
    background-color: $brand-lightgray;
  }
}

