@import "../../../scss/colors";

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($brand-purple, 0.95);
  transition: opacity 250ms ease-in;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--open {
    opacity: 1;
  }
}

.mobile-nav__nav-items {
  text-align: center;
}

.mobile-nav__nav-item {
  display: block;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;

  &--active > h2,
  &--active > .h2 {
    font-weight: bold;
    color: $brand-mediumgray;
  }
}