@import "../../scss/colors";

.side-bar {
  width: 100%;
  border-right: 2px solid $brand-lightgray;
  padding: 15px;
  box-sizing: border-box;
}

.filter-container {
  position: sticky;
  top: 180px;
}

.search-bar {
  margin-bottom: 10px;
}

.category-filters {
  margin-top: 24px;
}

.category-filters__title {
  margin-bottom: 0.5em;
}

.category-filters__filter {
  margin: 0;
  margin-top: 0.5em;

  a {
    text-decoration: none;
    color: $brand-darkgray;

    &.active {
      color: $brand-purple;
    }

    &:hover {
      color: $brand-mediumgray;
    }
  }
}

.color-filters {
  margin-top: 24px;
}

.color-filters__title {
  margin-bottom: 0.5em;
}