@import "../../scss/colors";

.side-bar {
  width: 100%;
  border-right: 2px solid $brand-mediumgray;
  padding: 15px;
  box-sizing: border-box;
}

.filter-container {
  position: sticky;
  top: 180px;
}

.search-bar {
  margin-bottom: 10px;
}

.category-filters {
  margin-top: 10px;
}
