@import "../../scss/colors";

.side-bar {
  width: 100%;
  border-right: 2px solid $brand-mediumgray;
  padding: 15px;
  box-sizing: border-box;
}

.filter-container {
  position: sticky;
  top: 180px;
}

.shop-filters {
  background-color: lavender;
  position: sticky;
  top: 150px;
}
